
body{
    margin: auto;
}
header{
    height: 70px;
    /*border:5px solid red;*/
    background-color: #3c2632;
}

#brand{
    float: left;
    color:white;
    font-size:30px;
    margin-top: 12px;
    margin-left: 10px;
}

#social{
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}

.slogo{
    width:50px
}

/* Search CSS */
#search{
    height:450px;
    background-image: url('image/food-wallpaper.png');
    /* border:5px double green */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 450px */
}

#logo{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 2%;
    position: absolute;
    font-size: 90px;
}

#logo>span{
    margin-left: 22%;
    margin-top: 12%;
    position: absolute;
}

#heading{
    font-size: 60px;
    margin-left: 30%;
    margin-top: 14%;
    position: absolute;
    color: white;
}

.dropdown{
    height:60px;
    width:50%;
    /* border:2px solid white; */
    margin-left: 27%;
    margin-top: 21%;
    position: absolute;
}

select{
    height: 60px;
    width:40%;
    text-align: center;
    font-size: 20px;
}

#restSelect{
    width:59%
}
/* quickSearch CSS */
#quickSearch{
    height: 600px;
    border:10px groove gray
}


/* footer CSS */
footer{
    height: 70px;
    border:5px dotted orange 
}